##### LOCAWEB - NAO REMOVER #####
AddHandler php80-script .php
suPHP_ConfigPath /home/piong2/
##### LOCAWEB - NAO REMOVER #####
# Redirecionamento HTTP para HTTPS
RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://www.piong.com.br/$1 [R,L]

# Redirecionamentos 301
Redirect 301 /contatos https://piong.com.br/src/html/contato.html
Redirect 301 /empresa https://piong.com.br/src/html/quem-somos.html
Redirect 301 /camisolasbatas https://piong.com.br/src/html/produtos.html
Redirect 301 /calca-e-blusa https://piong.com.br/src/html/produtos.html
Redirect 301 /coberturas-de-mesa https://piong.com.br/src/html/produtos.html
Redirect 301 /aventaismacacoes https://piong.com.br/src/html/produtos.html
Redirect 301 /campos-cirurgicos https://piong.com.br/src/html/produtos.html
Redirect 301 /campos-oftalmicos https://piong.com.br/src/html/produtos.html
Redirect 301 /produtos https://piong.com.br/src/html/produtos.html
Redirect 301 /involucroswrap https://piong.com.br/src/html/produtos.html
Redirect 301 /kits-cirurgicos https://piong.com.br/src/html/produtos.html
Redirect 301 /kits-odontologicos https://piong.com.br/src/html/produtos.html
Redirect 301 /blog https://piong.com.br/src/html/blog.html
Redirect 301 /lgpd https://piong.com.br/src/html/politica.html
Redirect 301 /trabalheconosco https://piong.com.br/src/html/trabalhe-conosco.html
Redirect 301 /certificados https://piong.com.br/src/html/certificado.html
Redirect 301 /outubro-rosa-2023 https://piong.com.br/src/html/materia-blog/endomkt/outubroRosa.html
Redirect 301 /piongnafeirafomenta https://piong.com.br/src/html/blog.html
Redirect 301 /piong25anos https://piong.com.br/src/html/blog.html
Redirect 301 /fomenta2022 https://piong.com.br/src/html/blog.html
Redirect 301 /sobecc https://piong.com.br/src/html/blog.html
Redirect 301 /saiba-como-controlar-sua-taxa-de-infeccao-hospitalar https://piong.com.br/src/html/blog.html
Redirect 301 /pt_br https://piong.com.br
Redirect 301 /concursocultural https://piong.com.br


# WordPress padrão .htaccess
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /shop/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /shop/index.php [L]
</IfModule>