@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* menu de navegacao */
body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
    background-image: url(/src/img/backgrounds/produtos/circle3d.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--blue-tertiary);
    padding: 0 4rem;
}

.menu .logo img {
    height: 30px;
    margin-right: 20px;
}

.menu-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    height: 80px;
}

.menu .menu-nav li {
    margin-left: 30px;
    font-size: 16px;
}

.menu .menu-nav a {
    color: var(--white);
}

/* .menu .menu-nav li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
} */

.menu .dropdown ul.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--white);
    width: 250px;
    z-index: 99999;
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto;
    border-radius: 0.5rem;
}

.menu .dropdown ul.dropdown-menu li {
    display: block;
    text-align: left;
    padding: 8px;
}

.menu .dropdown ul.dropdown-menu li a {
    color: var(--black);
    display: block;
    text-align: left;
    padding-right: 20px;
}

.menu .dropdown ul.dropdown-menu li a:hover {
    font-weight: bold;
}

/* MENU MOBILE */
#btn-mobile {
    display: none;
}

#banner-home .imagens-slider {
    position: relative;
    display: flex;
    height: 90vh;
    align-items: start;
    justify-content: center;
}

#banner-home .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}

#banner-home .title h1 {
    color: var(--white);
    font-size: 40px;
}

.imagens-slider .slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition: 1.5s ease-out;
    display: flex;
    align-items: center;
}

.imagens-slider .slide.mostrar {
    opacity: 1;
}

.slide-one {
    background-image: url(/src/img/carrossel/bg1.png);
}

.slide-two {
    background-image: url(/src/img/carrossel/bg2.png);
}

.slide-three {
    background-image: url(/src/img/carrossel/bg3.png);
}

#banner-home .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
}

#banner-home .content .title h1 {
    color: var(--white);
    font-size: 35px;
}

#banner-home .content .text {
    width: 550px;
    margin-top: 10px;
    color: var(--white);
    text-align: center;
    font-size: 17px;
}

#banner-home .content .btn-clickhere-1 {
    text-align: center;
    background: var(--white);
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 180px;
    margin-top: 20px;
    color: var(--blue-tertiary);
    font-weight: bold;
}

#banner-home .content .title h1 {
    color: var(--white);
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid transparent;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: var(--white);
    }
}

#banner-home .page-tab {
    position: absolute;
    bottom: -30px;
}

#banner-home .page-tab img {
    max-width: 100%;
}

/* CONSUTORIA TECNICA */
#technical-consultancy {
    height: 75vh;
    display: flex;
    justify-content: space-around;
    position: relative;
    background-image: url(/src/img/backgrounds/home/circle3d.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

#technical-consultancy .page-tab-bottom {
    position: absolute;
}

#technical-consultancy .container-technical-consultancy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 80%;
}

#technical-consultancy .titles {
    width: 550px;
    display: flex;
    flex-direction: column;
    color: var(--blue-tertiary);
    text-align: justify;
}

#technical-consultancy .titles #title-consultancy {
    font-size: 40px;
    font-weight: 300;
}

#technical-consultancy .titles #title-technique {
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 900;
}

#technical-consultancy .container-technical-consultancy .technical-consultancy-image {
    position: relative;
    width: 650px;
    height: 420px;
    border-radius: 25% 25% 52% 25%;
    box-shadow: 10px 10px 10px rgb(109, 109, 109);
    margin-left: 25%;
    z-index: 99;
    background-image: url(/src/img/backgrounds/home/FOTO\ FUNDO.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#technical-consultancy .container-technical-consultancy .technical-consultancy-image img {
    position: absolute;
    width: 800px;
    height: 480px;
    right: -150px;
    bottom: 0.5px;
}

#technical-consultancy .container-technical-consultancy .btn-clickhere-2 {
    position: relative;
    text-align: center;
    background: var(--blue-secundary);
    color: var(--white);
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;
    width: 250px;
    margin-top: 20px;
    font-weight: bold;
    z-index: 99;
}

#video-institucional {
    position: relative;
}

#video-institucional .container-institucional {
    background-image: url(/src/img/backgrounds/home/bg-sec-movie.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
}

#video-institucional .page-tab-bottom {
    position: absolute;
    top: -2px;
}

#video-institucional .page-tab-bottom img {
    max-width: 100%;
}

#video-institucional .page-tab {
    position: absolute;
    bottom: -30px;
}

#video-institucional .page-tab img {
    max-width: 100%;
}

#video-institucional .assista-video img {
    width: 50px;
    height: 50px;
}

#video-institucional .assista-video h2,
i {
    color: var(--white);
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;
}

#video-institucional .assista-video p {
    color: var(--white);
    width: 500px;
    text-align: right;
    font-size: 20px;
    margin-top: 20px;
}

#video-institucional .btn-clickhere-3 {
    position: relative;
    display: inline-block;
    text-align: center;
    background: var(--white);
    border: none;
    border-radius: 25px;
    padding: 15px;
    width: 200px;
    margin-top: 20px;
    color: var(--blue-tertiary);
    font-weight: bold;
    margin-top: 20px;
    left: 60%;
}

#satisfied-customers {
    position: relative;
    background: var(--blue-client);
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#satisfied-customers .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#satisfied-customers .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    background: #bfd9ee;
    border-radius: 10px;
}

#satisfied-customers .swiper-slide-active {
    filter: blur(0px);
    background: #fff;
}

#satisfied-customers .swiper-slide img {
    display: block;
    width: 100%;
}

#satisfied-customers .testimonialBox {
    position: relative;
    width: 100%;
    padding: 40px;
    padding-top: 90px;
    color: #999;
}

#satisfied-customers .testimonialBox .quote {
    position: absolute;
    top: 20px;
    right: 30px;
    opacity: 0.2;
    width: 50px;
    height: 50px;
}

#satisfied-customers .testimonialBox .details {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#satisfied-customers .testimonialBox .details .imgBx {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px
}

#satisfied-customers .testimonialBox .details .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#satisfied-customers .testimonialBox .details h3 {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.1em;
    color: #2196f3;
}

#satisfied-customers .testimonialBox .details h3 span {
    font-size: 12px;
    color: #666;
    font-weight: 400;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
    background: none;
}

#satisfied-customers .testimonial-header {
    text-align: center;
    color: var(--white);
    margin-bottom: 30px;
}

#satisfied-customers .testimonial-header h2 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 10px;
}

#satisfied-customers .testimonial-header p {
    font-size: 22px;
    color: var(--white);
}

#highlights {
    position: relative;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;
}

#highlights .page-tab {
    position: absolute;
    top: -20px;
}

#highlights .page-tab img {
    max-width: 100%;
}

#highlights .highlights-title {
    color: var(--blue-tertiary);
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#highlights .highlights-title h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 40%;
}

.latest-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1315px;
    gap: 40px;
}

.latest-highlights {
    width: 300px;
    height: 360px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 20px 20px 50px rgb(109, 109, 109);
}


.latest-item-top {
    flex: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 25px 25px 0 0;
}

.latest-item-bottom {
    flex: 1;
    padding: 10px;
    background-color: var(--blue-tertiary);
    text-align: center;
    border-radius: 0 0 25px 25px;
}


.latest-title h3 {
    color: var(--white);
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
}

.latest-title p {
    color: var(--white);
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid var(--white);
    padding-bottom: 10px;
}

.btn-clickhere-4 {
    display: inline-block;
    text-align: center;
    background: var(--white);
    border: none;
    border-radius: 25px;
    padding: 10px;
    color: var(--blue-tertiary);
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    text-transform: capitalize;
}

#highlights .btn-clickhere-5 {
    position: relative;
    left: 0%;
    bottom: 0%;
    text-align: center;
    background: #13295f;
    color: var(--white);
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;
    width: 250px;
    margin-top: 20px;
    font-weight: bold;
    z-index: 99;
    border: none;
    margin: 60px;
    box-shadow: 10px 10px 10px rgb(109, 109, 109);
}

#highlights .destaque-mensal {
    position: relative;
    width: 1000px;
    height: 250px;
    background: linear-gradient(to right, var(--blue-tertiary), var(--blue-secundary));
    border-radius: 25px;
    margin: 100px 0 120px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 10px 10px 10px rgb(109, 109, 109);
}

#highlights .destaque-mensal .evento-destaque {
    position: absolute;
    top: -120px;
    left: 150px;
    background-image: url(/src/img/Blog/destaque-mensal/Outubro-rosa/pb2.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 350px;
    height: 450px;
    border-radius: 35% 35% 5% 5%;

}

#highlights .content-event {
    width: 450px;
    height: auto;
    text-align: right;
    padding: 20px;
}

#highlights .title-event {
    color: var(--white);
    font-size: 25px;
}

#highlights #title-main {
    font-weight: 300;
}

#highlights #subtitle {
    text-transform: uppercase;
    font-weight: 900;
}


#highlights .text-event {
    color: var(--white);
    font-weight: 300;
    margin-top: 10px;
}

#highlights .destaque-mensal .btn-clickhere-4 {
    display: inline-block;
    text-align: center;
    background: var(--white);
    border: none;
    border-radius: 25px;
    padding: 12px;
    width: 200px;
    color: var(--blue-tertiary);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    position: absolute;
    bottom: -20px;
    right: 70px;
    box-shadow: 10px 10px 10px rgb(109, 109, 109);
}

#location {
    background: url(../img/backgrounds/home/location1.png) top/cover fixed;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    position: relative;
}

#location .page-tab-bottom {
    position: absolute;
    top: -4px;
}

#location .page-tab-bottom img {
    width: 100%;
}

.location-title {
    color: var(--white);
    text-align: center;
}

#location .location-title h2,
i {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0;
}

.location-container {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: var(--white);
    color: #13295f;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40vh;
    position: relative;
}

.container-footer {
    display: flex;
    gap: 40px;
}

.footer-left,
.footer-right {
    flex: 1;
}

.footer-right {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.endereco h2,
.social h2 {
    font-size: 22px;
}

.endereco,
.horario,
.social {
    padding: 10px;
}

.endereco address {
    font-style: normal;
    color: #13295f;
    margin-bottom: 20px;
}

.horario {
    display: flex;
}

.horario h2 {
    font-size: 18px;
}

.dias-atendimento,
.horarios-funcionamento {
    display: flex;
    justify-content: space-around;
}

.dias-atendimento {
    display: flex;
    flex-direction: column;
}

.social {
    /* height: 60%; */
    display: flex;
    justify-content: flex-end;
    /* align-items: end; */
    /* margin-right: 12%; */
    margin-top: 15%;
}

.list-social {
    display: flex;
    gap: 20px;
    font-size: 35px;
}

.list-social a {
    color: #13295f;
    font-size: 35px;
}

.social-links ul {
    list-style: none;
    padding: 0;
}

.social-links li {
    margin: 5px 0;
}


.social-links a {
    text-decoration: none;
    color: #fff;
}

.btn-clickhere-5 {
    display: block;
    text-align: center;
    background: var(--blue-tertiary);
    color: var(--white);
    border-radius: 25px;
    padding: 10px;
    font-size: 16px;
    width: 350px;
    margin-top: 20px;
    font-weight: bold;
    z-index: 99;
    border: none;
    cursor: pointer;
}

small {
    clear: both;
    text-align: center;
    width: 100%;
}

.hidden {
    opacity: 0;
    filter: blur(15px);
    transition: all 3s;
    transform: translateX(-100%);
}

.hidden-right {
    opacity: 0;
    filter: blur(15px);
    transition: all 3s;
    transform: translateX(100%);
}

.hidden-down {
    opacity: 0;
    filter: blur(15px);
    transition: all 3s;
    transform: translateY(-100%)
}

.hidden-top {
    opacity: 0;
    filter: blur(15px);
    transition: all 3s;
    transform: translateY(100%)
}

.show {
    opacity: 1;
    filter: blur(0);
    transition: all 1.5s;
    transform: translateX(0);
}

/* BLOG-STYLE */
#blog-home {
    background-image: url(../img/backgrounds/blog/bgblogton1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content .title .title-main {
    color: var(--white);
    font-size: 68px;
    font-weight: 600;
    text-transform: capitalize;
}

#destaque-mensal {
    background-image: url(/src/img/backgrounds/blog/onda1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}

#destaque-mensal .conteudo {
    display: flex;
    align-items: center;
    gap: 60px;
}

#destaque-mensal .imagem-destaque {
    background-image: url(/src/img/blog/destaque-mensal/Inovar/projetoInovar.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 500px;
    border-radius: 40% 40% 5% 5%;
    box-shadow: 10px 10px 40px rgb(34, 34, 34);
}

#destaque-mensal .conteudo-escrito {
    display: flex;
    flex-direction: column;
    margin-bottom: 25%;
    color: var(--white);
    width: 500px;
    height: auto;

}

#destaque-mensal .conteudo-escrito .title-destaque #title-cima {
    font-weight: 300;
    text-transform: uppercase;
}

#destaque-mensal .conteudo-escrito .title-destaque #title-baixo {
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 15%;
}

#destaque-mensal .texto-destaque {
    margin-top: 30px;
}

#destaque-mensal .title-destaque h2 {
    font-size: 50px;
}

#destaque-mensal .btn-clickhere-3 {
    position: relative;
    display: inline-block;
    text-align: center;
    background: var(--white);
    border: none;
    border-radius: 25px;
    padding: 15px;
    width: 200px;
    margin-top: 20px;
    color: var(--blue-tertiary);
    font-weight: bold;
    margin-top: 20px;
}

#busca {
    display: flex;
    justify-content: center;
}

#busca .conteudo-busca {
    background-color: var(--green-primary);
    width: 60%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 20px;
    box-shadow: 20px 20px 50px rgb(109, 109, 109);
}

#busca .conteudo-busca h3 {
    color: var(--white);
    font-size: 40px;
    font-weight: 300;
}

#busca .conteudo-busca input {
    border-radius: 10px;
    width: 350px;
    padding: 15px;
    font-size: 16px;
}

#busca .conteudo-busca button {
    color: var(--white);
    background-color: var(--blue-tertiary);
    border-radius: 20px;
    border: none;
    width: 150px;
    padding: 15px;
}

#artigos {
    height: auto;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#artigos .conteudo-artigos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}

#artigos .conteudo-artigos .box-artigo {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: var(--blue-tertiary);
    border-radius: 25px;
    box-shadow: 1px 5px 12px rgb(0, 0, 0);
}

#artigos .conteudo-artigos .box-artigo .box-top {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    border-radius: 25px 25px 0 0;
}

.autoclave {
    background-image: url(/src/img/Blog/artigos/autoclave.png);
}

.iras {
    background-image: url(/src/img/Blog/artigos/iras.png);
}

.contaminacao {
    background-image: url(/src/img/Blog/artigos/contaminacao.png);
}

.biosseguranca {
    background-image: url(/src/img/Blog/artigos/biosseguranca.png);
}

.infeccao {
    background-image: url(/src/img/Blog/artigos/infeccao.png);
}

.tendencia {
    background-image: url(/src/img/Blog/artigos/tendencias.png);

}

.normas {
    background-image: url(/src/img/Blog/artigos/regulamentacoes.png)
}

.adocao {
    background-image: url(/src/img/Blog/artigos/adocao.png)
}

.estoque {
    background-image: url(/src/img/Blog/artigos/estoqueepi.png)
}

#artigos .conteudo-artigos .box-artigo .box-bottom {
    flex: 1;
    color: var(--white);
    padding: 5px 10px 10px 12px;
    text-align: center;

}

#artigos .conteudo-artigos .box-artigo .box-bottom .title-box {
    font-weight: 600;
    text-align: left;
    font-size: 19px;
}

#artigos .conteudo-artigos .box-artigo .box-bottom .text-box {
    font-weight: 300;
    margin-top: 5px;
    text-align: left;
    font-size: 16px;
    border-bottom: 1px solid var(--white);
    padding: 12px;
}

#artigos .conteudo-artigos .box-artigo .box-bottom .btn-clickhere-3 {
    position: relative;
    display: inline-block;
    text-align: center;
    background: var(--white);
    border: none;
    border-radius: 25px;
    padding: 10px;
    width: 150px;
    margin-top: 20px;
    color: var(--blue-tertiary);
    font-weight: 500;
    font-size: 15px;
}

#endo-marketing {
    background-image: url(/src/img/backgrounds/blog/onda2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 30%;
}

#endo-marketing .conteudo-endo {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    justify-content: center;
    gap: 130px;
    margin-bottom: 50px;
}

#endo-marketing .conteudo-endo .box-endo {
    position: relative;
    background-color: var(--white);
    width: 500px;
    height: 200px;
    padding: 30px;
}

#endo-marketing .conteudo-endo .text-endo {
    width: 350px;
    text-align: left;
    padding-top: 10px;
}

#endo-marketing .conteudo-endo .image-endo {

    width: 220px;
    height: 250px;
    position: absolute;
    border-radius: 45% 45% 5% 5%;
    right: -90px;
    top: -100px;
    margin-bottom: 20px;
}

#endo-marketing .conteudo-endo .sobecc2023 {
    background-image: url(../../src/img/Blog/destaque-mensal/Sobecc-2023/slide1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#endo-marketing .conteudo-endo .novembroAzul {
    background-image: url(../../src/img/Blog/destaque-mensal/NovembroAzul/gif1.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#endo-marketing .conteudo-endo .outubroRosa {
    background-image: url(../../src/img/Blog/destaque-mensal/Outubro-rosa/pb2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#endo-marketing .conteudo-endo .inovar {
    background-image: url(../../src/img/Blog/destaque-mensal/Inovar/projetoInovar.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#endo-marketing .conteudo-endo .expoBrasil {
    background-image: url(../../src/img/Blog/destaque-mensal/Expo/teste1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#endo-marketing .conteudo-endo .fomenta2023 {
    background-image: url(../../src/img/Blog/destaque-mensal/Fomenta/Design-sem-nome.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#endo-marketing .conteudo-endo .box-endo .btn-clickhere-5 {
    position: relative;
    left: 0%;
    bottom: 0%;
    text-align: center;
    background: #13295f;
    color: var(--white);
    border-radius: 25px;
    padding: 15px;
    font-size: 15px;
    width: 150px;
    margin-top: 20px;
    font-weight: bold;
    z-index: 99;
    border: none;
    cursor: pointer;
}

#endo-marketing .conteudo-endo .box-endo .content-right .btn-clickhere-5 {
    position: relative;
    left: 50%;
    text-align: center;
    background: #13295f;
    color: var(--white);
    border-radius: 25px;
    padding: 15px;
    font-size: 15px;
    width: 150px;
    margin-top: 20px;
    font-weight: bold;
    z-index: 99;
    border: none;
    cursor: pointer;
}

.to-top {
    top: -40px;
}

.box-right {
    margin: 30px 0;
    position: absolute;
    left: 90px;
}

.image-left {
    position: absolute;
    left: -90px;
}

.content-right {
    margin-left: 120px;
}

.page-counter {
    text-align: center;
    margin: 20px;
}

.page-button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 25px;
    border-radius: 5px;
    width: 100px;
}

.page-button i {
    margin-right: 5px;
}

.page-button:hover {
    background-color: #0056b3;
}

/* QUEM SOMOS */

#banner-somos {
    background-image: url(../img/backgrounds/empresa/quemSomos/localizacao.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.historia-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 5rem 0;

}

/* LINHA DO TEMPO */
.timeline-wrapper::-webkit-scrollbar {
    display: none;
}

.timeline-wrapper {
    position: relative;
    max-width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.timeline {
    position: absolute;
    height: .12rem;
    padding: 0 22rem;
    background-color: #888;
    list-style-type: none;
    --scale: 1;
    display: flex;
}

.timeline li {
    position: relative;
    width: 20rem;
}

.timeline li::before,
.timeline li::after,
.timeline li .title,
.data {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(var(--scale));
    transition: .5s ease;
}

.timeline li::before {
    content: "";
    top: 1rem;
    display: inline-block;
    width: 0.12rem;
    height: 1rem;
    background-color: #888;
}

.timeline li:nth-child(even)::before {
    top: -1rem;

}

.timeline li:hover::before {
    background-color: var(--primary-color);

}

.timeline li::after {
    content: attr(data-date);
    top: -3.4rem;
    font-size: 13px;
    font-weight: bold;
    --scale: 1.5;
}

.timeline li:nth-child(odd)::after {
    /* top: 3.4rem; */
}

.timeline li:hover:after,
.timeline li .title {
    color: var(--primary-color);
}

.timeline li .title {
    top: 2.4rem;
    font: 600 1.1rem 'poppins', sans-serif;
    white-space: pre;
    opacity: 0;
}

.timeline li:nth-child(odd)>.title {
    top: -2.4rem;
}

.timeline li:hover .title {
    opacity: 1;

}

.data {
    width: 1.3rem;
    height: 1.3rem;
    background-color: var(--blue-tertiary);
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    transition: .3s ease;
}

.timeline li:hover .data {
    background-color: var(--primary-color);
    --scale: 1.2;
    cursor: pointer;
    z-index: 200;
}

.data.show {
    width: 60rem;
    height: 25rem;
    border-radius: 1rem;
    padding: 1rem;
    background: linear-gradient(to right, var(--blue-secundary), var(--blue-fifth));
    box-shadow: 0 .1rem .4rem #0004;
    z-index: 100;
    display: flex;
}

.data-img {
    padding: 12px;
    border-radius: 25px;
    flex: 1;

}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data h3 {
    text-transform: capitalize;
    text-align: center;
    padding: 20px;
}

.data p {
    background-color: #fff3;
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 10rem;
    text-align: justify;
}

.data.show p {
    margin-left: 0;
}

.data .close {
    align-self: flex-start;
    background-color: #00a1ff;
    padding: .5rem .8rem;
    border-radius: 2rem;
    font-size: 1rem;
}

#historia-empresa #title-main {
    font-size: 50px;
    text-align: center;
    padding: 30px 0 -30px 0;
    color: var(--blue-tertiary);
}


.historia-conteudo #foto-conteudo3 {
    background-image: url(../img/empresa/conteudo/projeto.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 485px;
    height: 400px;
    border-radius: 30% 3% 35% 35%;
    box-shadow: 8px 8px 25px rgb(0, 0, 0);
}

.historia-conteudo #texto-conteudo1 {
    width: 500px;
    text-align: justify;
}

.historia-conteudo #foto-conteudo4 {
    background-image: url(../img/empresa/conteudo/meio-ambiente.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 485px;
    height: 400px;
    border-radius: 3% 30% 35% 35%;
    box-shadow: 8px 8px 25px rgb(0, 0, 0);
}

.historia-conteudo #texto-conteudo2 {
    width: 500px;
    text-align: justify;
}

#missao {
    background-color: #1c506e;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    z-index: 2;
    position: relative;
}

#missao .page-tab {
    position: absolute;
    top: -2px;
}

#missao .content-missao {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40%;
    text-align: center;
    color: var(--white);
    margin: 20px;

}

#missao .content-missao #title-missao {
    font-size: 45px;
    margin-bottom: 15px;
}

#missao .content-missao #text-missao {
    font-size: 20px;
}

#responsabilidade {
    background-image: url(../img/backgrounds/empresa/quemSomos/ambiente2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 110vh;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#responsabilidade .page-tab {
    position: absolute;
    top: -0px;
}

#responsabilidade .page-tab-bottom {
    position: absolute;
    bottom: -5px;
}

#responsabilidade .page-tab-bottom img {
    width: 100%;
}


#responsabilidade .titles-responsabilidade {
    display: flex;
    flex-direction: column;
}


#responsabilidade .titles-responsabilidade #title-responsabilidade {
    color: var(--white);
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

#responsabilidade .titles-responsabilidade #subtitle-responsabilidade {
    color: var(--white);
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#social-ambiental {
    background-color: #002e48;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 165vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    color: var(--white);
    position: relative;
}

#social-ambiental .page-tab-bottom {
    position: absolute;
    bottom: -6px;
}

#social-ambiental .page-tab-bottom img {
    max-width: 100%;
}

#work-with-us {
    background-image: url(../img/backgrounds/empresa/trabalheConosco/baner.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
}


#form-work .work-titles {
    text-align: center;
    margin-bottom: 20px;
}

#form-work .work-titles h5 {
    font-weight: 300;
    padding: 20px;
}

#form-work .work-titles h2 {
    font-size: 30px;
    font-weight: 500;
    padding: 15px 0;
    border-bottom: 2px solid #ccc;
}

#form-work .content-form {
    background-color: var(--white);
    padding: 25px 18%;
    border-bottom: 3px solid var(--blue-tertiary);
}

#form-work .form-group {
    margin-bottom: 20px;
}

#form-work label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#form-work input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
}

#form-work small {
    display: block;
    color: #888;
}

#form-work button {
    padding: 13px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#form-work button:hover {
    background-color: #0056b3;
}

#form-work .required {
    color: red;
    margin-right: 5px;
}

#form-work .file-input {
    position: relative;
    overflow: hidden;
}

#form-work .file-input input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

#form-work .file-input button {
    padding: 12px;
    width: 250px;
    border: 2px solid #ccc;
    border-radius: 20px;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
}

#form-work .file-input button:hover {
    background-color: #0056b3;
}

#policy {
    background-image: url(../img/backgrounds/politica/bg1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
}

.policy-title {
    text-align: center;
    margin-top: 40px;
}

#content-policy {
    margin-top: 50px;
    /* padding: 0 150px; */
    text-align: justify;
    border-bottom: 3px solid var(--blue-tertiary);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.policcy-container {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.titles-content {
    margin: 30px 0;
    font-size: 2rem;
    font-weight: 500;
}

.subtitles-content {
    margin: 30px 0;
}

.text-policy {
    margin-bottom: 15px;
}

#contact-banner {
    background-image: url(../img/backgrounds/contato/banner-contato1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#contact .content-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#contact .content-contact img {
    width: 80%;
    max-height: 100%;
    z-index: 2;
}

#contact .title-photo {
    width: 80%;
    max-width: 550px;
    position: absolute;
    font-size: 1.5vw;
    bottom: 20%;
    left: 35%;
    transform: translateX(-50%);
    text-align: left;
    color: var(--white);
    z-index: 3;
}

#contact-form {
    background-color: #e6e6e6;
    height: auto;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

#contact-form .page-tab {
    position: absolute;
    top: -2px;
    z-index: -1;
}

#contact-form .contact-and-adress {
    margin-top: 20%;
    display: flex;
    align-items: center;
    gap: 16%;
    width: 80%;
}

#contact-form .formulario {
    flex: 1;
    z-index: 10;
}

#contact-form .formulario form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#contact-form h2 {
    margin-bottom: 20px;
    font-size: 23px;
}


#contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-form input,
#contact-form textarea,
#contact-form select {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 15px;
    margin-bottom: 10px;
    font-size: 17px;
}



#contact-form textarea {
    resize: vertical;
}

button {
    padding: 13px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    margin: 20px 0;
}

#contact-form button:hover {
    background-color: #0056b3;
}


.required {
    color: red;
    margin-left: 5px;
}

#contact-form .group-flex {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

#cidade {
    width: 300px;
}

#estado {
    width: 250px;
}


#contact-form .adress-container .adress-box {
    width: 380px;
    height: 400px;
    border-radius: 15px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form .padding-box {
    border-bottom: 1px solid #61859a;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#contact-form .padding-box:last-child {
    border-bottom: none;
}

#contact-form .social-icon {
    background-color: var(--white);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    padding: 10px;
}

#contact-form #social-contact a {
    color: var(--white);
}

#contact-form #social-contact li {
    padding: 5px 0;
}

#maps {
    padding-top: 20px;
    background-color: #e6e6e6;
    height: 70vh;
}

#certificate {
    background-image: url(/src/img/backgrounds/certificado/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
}

#seal-integrity {
    height: 70vh;
}

.seal-integrity-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5rem;
}

.seal-integrity-content #foto-conteudo1 {
    width: 400px;
    height: 400px;
}

.seal-integrity-content .text-content-seal {
    width: 500px;
    text-align: justify;
}

#bpf {
    position: relative;
    height: 90vh;
    background-color: var(--main-color);
}

#bpf .page-tab {
    position: absolute;
    top: -1px;
}

#bpf .bpf-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bpf-content #foto-conteudo2 {
    width: 400px;
    height: 400px;
}

.bpf-content .text-bpf {
    width: 500px;
    text-align: justify;
    color: var(--white);
}

.bpf-content .text-bpf h2,
.seal-integrity-content .text-content-seal h2,
.environmentally-friendly-content .text-environmentally-friendly h2,
.brazilian-industry-content .text-brazilian-industry h2 {
    padding-bottom: 20px;
}

#environmentally-friendly {
    background-color: #e6e6e6;
    height: 125vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#environmentally-friendly .page-tab {
    position: absolute;
    top: -1px;
}

#environmentally-friendly .page-tab-bottom {
    position: absolute;
    bottom: -5px;
}

#environmentally-friendly .environmentally-friendly-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.environmentally-friendly-content #foto-conteudo3 {
    width: 299px;
    height: 365px;
}

.environmentally-friendly-content .text-environmentally-friendly {
    width: 500px;
    text-align: justify;
}

#brazilian-industry {
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--main-color);
}

#brazilian-industry .brazilian-industry-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.brazilian-industry-content #foto-conteudo4 {
    width: 313px;
    height: 408px;
}

.brazilian-industry-content .text-brazilian-industry {
    width: 500px;
    text-align: justify;
}

#movie-intitutional {
    background-color: #e6e6e6;
    height: 85vh;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-bottom: px;
}

#movie-intitutional .container-institucional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#movie-intitutional .assista-video {
    font-size: 30px;
    margin-bottom: 20px;
}

#product-banner {
    background-image: url(../img/backgrounds/produtos/produtos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 40vh;
    display: flex;
    justify-content: center;
}

#product-section {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#product-section .produto-area {
    position: relative;
    width: 1000px;
    height: 250px;
    background: linear-gradient(to right, var(--blue-tertiary), var(--blue-secundary));
    border-radius: 25px;
    margin: 100px 0 120px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 10px 10px 10px rgb(109, 109, 109);
}

#product-section .produto-area .produto-imagem {
    position: absolute;
    left: 150px;
    background-image: url(/src/img/produtos/destaque/destaque1.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    width: 550px;
    height: 550px;
}

#product-section .content-produto {
    width: 550px;
    height: auto;
    padding: 30px;
}

#product-section .title-produto {
    color: var(--white);
    font-size: 25px;
    text-align: right;
}

#product-section #title-main {
    font-weight: 300;
}

#product-section #subtitle {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 900;
}

#product-section .text-event {
    color: var(--white);
    font-weight: 300;
    margin-top: 10px;
    text-align: justify;
}

#product-section .produto-area .btn-clickhere-4 {
    display: inline-block;
    text-align: center;
    background: var(--white);
    border: none;
    border-radius: 25px;
    padding: 12px;
    width: 200px;
    color: var(--blue-tertiary);
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    position: absolute;
    bottom: -20px;
    right: 70px;
    box-shadow: 10px 10px 10px rgb(109, 109, 109);
}

.wrapper {
    height: auto;
    display: flex;
    margin: 0 8%;
}

.wrapper #categorias {
    min-width: 300px;
    padding: 20px;
    color: var(--gray-text);
}

.wrapper #categorias h2 {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 3px;
    border-bottom: 1px solid var(--gray-text);
    padding-bottom: 20px;
}

.wrapper #categorias li {
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    font-style: italic;
    font-weight: 400;
}

.wrapper #produto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.wrapper .produto {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    width: 270px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--gray-text);
    text-align: center;
    cursor: pointer;
}

.wrapper .produto .produto-imagem {
    padding-top: 20px;
}

.wrapper .produto .text-content {}


.wrapper #produto .produto img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.wrapper #produto .produto h3 {
    color: var(--blue-claro);
    font-size: 16px;
    margin-bottom: 5px;
}

.wrapper #produto .produto h5 {
    color: var(--gray-text);
    font-size: 12px;
}

#search-section {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

#search-section .search-container {
    position: relative;
}

#search-section .search-container input {
    width: 400px;
    padding: 20px 40px 20px 20px;
    border-radius: 13px;
    font-size: 20px;
}

#search-section .search-container .fa-search {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #555;
}


#contact-store .content-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 30px;


}

#contact-store .content-contact img {
    width: 80%;
    max-height: 100%;
    z-index: 2;
}

#contact-store .title-photo {
    width: 80%;
    max-width: 550px;
    position: absolute;
    font-size: 1.5vw;
    bottom: 22%;
    left: 35%;
    transform: translateX(-50%);
    text-align: left;
    color: var(--white);
    z-index: 3;
}

#contact-store .title-photo h3 {
    font-size: 37px;
    font-weight: 300;
}

#contact-store .title-photo h4 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

#contact-store .btn-clickhere-1 {
    position: absolute;
    bottom: 12%;
    left: 25%;
    transform: translateX(-50%);
    text-align: center;
    background: var(--white);
    border-radius: 25px;
    padding: 12px;
    width: 200px;
    color: var(--blue-tertiary);
    font-weight: bold;
    z-index: 4;
    font-size: 16px;
}

#produto-banner {
    height: 6vh;
    background: var(--bg-section-product);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#produto-banner .content .title h1 {
    color: var(--white);
    font-size: 25px;
}

.fild-produts {
    padding: 30px 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fild-produts .product-spacification {
    width: 33%;
}

.fild-produts .content-product {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--gray-text);
    overflow: hidden;
}

.fild-produts .content-product img {
    transform-origin: center center;
    object-fit: cover;
}

.product-spacification {
    display: flex;
    flex-direction: column;
}

.fild-produts .product-spacification .product-name {
    color: var(--blue-claro);
    text-align: justify;
}

.fild-produts .product-spacification .product-description {
    color: var(--gray-text);
    text-align: justify;
    margin-top: 15px;
}

.fild-produts .product-spacification .product-certificate {
    color: var(--gray-text);
    text-align: justify;
    margin-top: 25px;
    display: block;
}

.fild-produts .product-spacification .list-spacification {
    list-style-type: circle;
    color: var(--gray-text);
    margin: 25px 0 25px 25px;
}

.btn-clickhere-2 {
    text-align: center;
    background: var(--blue-tertiary);
    border-radius: 25px;
    padding: 12px;
    width: 250px;
    color: var(--white);
    font-weight: 300;
    font-size: 16px;
    margin-top: 20px;
    text-transform: uppercase;
    margin-left: 25px;
}

#product-table {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.product-category {
    border-collapse: collapse;
    width: 50%;
    margin: 50px 0;
}

.product-category th,
.product-category td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.product-category th {
    background-color: #f2f2f2;
}

.product-category tr:nth-child(even) {
    background-color: #f9f9f9;
}


#related-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

#related-product .title-related {
    display: flex;
    justify-content: start;
    width: 80%;
    font-weight: 100;
}

#related-product .title-related h2 {
    display: flex;
    justify-content: start;
    font-weight: 400;
    margin: 0 0 15px 11%;

}

#related-product .product-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


#related-product .produto {
    width: 270px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--gray-text);
    text-align: center;
    cursor: pointer;
}

#related-product .wrapper .produto {
    width: 270px;
    margin: 10px;
    padding: 10px;
    border: 1px solid var(--gray-text);
    text-align: center;
    cursor: pointer;
}

#related-product img {
    max-width: 100%;
    padding: 10px;
}

#related-product h3 {
    color: var(--blue-claro);
    font-size: 16px;
    margin-bottom: 5px;
}

#related-product h5 {
    color: var(--gray-text);
    font-size: 12px;
}

#ombudsman {
    background-image: url(../img/backgrounds/Ouvidoria/banner-ombudsman.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 40vh;
    display: flex;
    justify-content: center;
}


#content-ombudsman {
    margin-top: 50px;
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#content-ombudsman .ombudsman-container {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4%;
}

#content-ombudsman .ombudsman-container a {
    font-weight: bold;
    font-size: 1.2rem;
}

.no-background {
    background-image: none;
}

#materia-banner {
    height: 6vh;
    background: var(--bg-section-product);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#materia-banner .title-main {
    color: var(--white);
    font-size: 25px;
}

#container-materia {
    display: flex;
    justify-content: center;
}

#container-materia .fild-materia {
    width: 80%;
    padding: 60px 0;
}

#container-materia .materia-name {
    color: var(--blue-claro);
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
}

#container-materia .subtitle-materia {
    color: var(--blue-claro);
    text-align: left;
    font-size: 20px;
    margin: 20px;
}

#container-materia .subtitle-materia-artigo {
    color: var(--blue-claro);
    text-align: center;
    font-size: 21px;
    margin: 20px;
}

#container-materia .subtitle-materia-artigo ul,
li {
    color: var(--gray-text);
    font-size: 20px;
}

#container-materia .negrito {
    color: var(--black);
}

#container-materia .negrito a:hover {
    color: var(--blue-claro);
    text-decoration: underline;
}



#container-materia .materia-description {
    color: var(--gray-text);
    font-size: 20px;
    text-align: justify;
}

.img_box {
    max-width: 100%;
    display: flex;
    justify-content: center;

}

.slider_container {
    margin: 50px 0;
}

.slider_container .container {
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

.card_slider {
    padding: 50px 10px;
}